function varExample() {
  var a = 1
  if (a === 1) {
    var a = 2
  }
  console.log('add has a: ' + a)
}
function letExample() {
  'use strict'
  let b = 1
  if (b === 1) {
    let b = 2
  }
  console.log('add2 has b: ' + b)
}

varExample() // 2
letExample() // 1
